@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@400;700&display=swap');

* {
    box-sizing: border-box;

}

body {
    font-family: 'Pridi', serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.insert {
    width: 40%;
    text-align: center;
}

.key {
    display: inline-flex;
    position: relative;
    padding: 20px;
    text-align: center;
    margin: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
    background-color: #eee;
}

small {
    position: absolute;
    top: -24px;
    text-align: center;
    width: 100%;
    opacity: 0.6;
}